:root {
  --max-width: 1100px;
  --foreground-rgb:#fbfcf9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb:#fbfcf9;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0.025rem;
}

html,
body {
  max-width: 100vw;
  background-color: var(--foreground-rgb);
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  cursor: pointer;
}

@font-face {
  font-family: 'Moderat';
  src: url('../assets/fonts/Moderat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moderat';
  src: url('../assets/fonts/Moderat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Works';
  src: url('../assets/fonts/SuisseWorks-Medium-WebS.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Works';
  src: url('../assets/fonts/SuisseWorks-Bold-WebS.woff2') format('woff2');  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
